/* Header Styles */
.header-section {
  @apply flex justify-between items-center py-3 px-6 bg-white shadow-xl font-bold;
}

/* Left side (Logo & App Name) */
.header-left-container {
  @apply flex items-center;
}

.logo {
  @apply flex items-center;
}

.logo-icon {
  @apply w-14 h-14 mr-2;
}

/* App Name with Gradient */
.app-name {
  @apply text-2xl font-extrabold bg-clip-text text-transparent relative;
  background-image: linear-gradient(
    to right,
    #0e4fbe,
    #f439c5,
    #8b22ac,
    #02ddc7
  );
  transition: background-image 0.5s ease-in-out;
}

.app-name:hover {
  background-image: linear-gradient(
    to right,
    #ae0bcb,
    #4839a5,
    #4fe9f4,
    #2e2e98
  );
}

/* Underline Animation */
.app-name::after {
  @apply absolute left-0 bottom-0 w-0 h-[2px] bg-blue-500 transition-all duration-500 ease-out;
  content: "";
}

.app-name:hover::after {
  @apply w-full;
}

/* Right side of header: Navigation and CTA */
.header-right-container {
  @apply flex items-center space-x-6;
}

.nav-menu .menu-list {
  @apply flex space-x-6;
}

/*For the nav-bar menu list & navigator links*/
.nav-menu li {
  @apply text-gray-900 no-underline relative;
}

.nav-menu li:hover {
  @apply text-blue-500 italic;
}

/* Underline animation using a pseudo-element */
.nav-menu li::after {
  @apply absolute left-0 bottom-0 w-0 h-[1px] bg-blue-500 transition-all duration-500 ease-out;
  content: "";
}

.nav-menu li:hover::after {
  @apply w-full;
}

/* Media design for smaller screens */
/* Show the menu icon on screens smaller than 520px */
@media screen and (max-width: 519px) {
  .app-name {
    @apply hidden;
  }
}

/* Show the menu icon on screens smaller than 999px */
@media screen and (max-width: 879px) {
  .menu-icon {
    @apply block cursor-pointer;
  }

  .nav-menu {
    @apply absolute hidden top-28 left-0 right-0 bg-white shadow-lg z-50 p-6;
  }

  .nav-menu.show {
    @apply block;
  }

  .nav-menu .menu-list {
    @apply flex flex-col;
  }

  .nav-menu li {
    @apply mb-4;
  }

  .nav-menu li:hover::after {
    @apply w-[10%];
  }

  .top-li {
    @apply ml-6 mb-0;
  }
}

/* Large screens: Menu is always visible */
@media (min-width: 880px) {
  .menu-icon {
    @apply hidden;
  }

  .nav-menu {
    @apply block;
  }
}
