@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

/*General layout*/
@import "./styles/layout.css";

/*Other components*/
@import "./styles/buttons.css";
@import "./styles/hero.css";
@import "./styles/footer.css";
@import "./styles/searchbar.css";
@import "./styles/search-manufacturer.css";
@import "./styles/car-card.css";
@import "./styles/car-details.css";
@import "./styles/filter.css";
@import "./styles/header.css";






